// Scroll header behaviour 
.nav-up{
	&.header{ 
		top:-2.5em; 
		position:fixed; 
		width:100%; 
		opacity:1; 
		left:0;
	}
	.nav_header{
		height: 3.125em;
		background-color: #f7f7f7; 
		border-bottom:1px solid #d1d1d1;	
	}
	.nav_header_inner{
		padding: 0.375em 1.875em 0 1.875em;
	}
	.navigation_menu{
		position: relative;
		top: -0.375em;
		width:auto;
		border: 0;
		float: left;
		> ul{
			padding:0 1.25em;	
		}
	}
	.mm_panel{
		position:fixed; 
		top:3.0625em; 
		width:100%;
	}
	.site_logotype, .brand_logo{
		width:2.1875em; 
		height:2.1875em;
	}
	.notifications{ 
		margin-left:0;
		.notification_txt{ 
			display:none;
		}
	}
}

//1023
@media (max-width: 1023px){
	.nav-up{
		&.header{ 
			position:relative; 
			top:0;
		}
		.nav_header{height:3.75em;}
	}
}