.navigation_menu{ 
	position:absolute; 
	width:100%; 
	background-color:#f7f7f7; 
	left:0; 
	top:3.75em; 
	border-bottom:1px solid #d1d1d1;
	border-top: 3px solid #009966/*#51a1d4*/;
	> ul{
		max-width: 80em;
		margin: 0 auto;
		padding: 0 1.875em;
		> li{
			display:table-cell;
			> a{
				display:block;
				padding:1em 1.25em;
				border-left:1px solid #d1d1d1;
				position:relative;
			}
			&:last-child{
				> a{
					border-right:1px solid #d1d1d1;
				}
			}
			&.active{
				> a{
					background-color:unquote("#ffffff");
					&::before{
						content: "";
						border-top: 3px solid #008578/*#1d5584*/;
						position: absolute;
						top: -0.1875em;
						left: 0;
						width: 100%;
					}
				}
			}
			> .mm_panel{
				 width:100%;
				 position:absolute; 
				 left:0;
				> .mm_wrapper{
					 width:100%;
					 position:relative; 
					 left:0;
					 padding:0 1.875em; 
					 max-width:80em; 
					 margin:-1px auto 0 auto; 
					 max-height:0; 
					 overflow:hidden;
					 @include transition(max-height, 0.5s, ease);
				}
			}
			&.mm_opened{
				> a{
					background-color:unquote("#ffffff");
					z-index:2;
				}
				> .mm_panel{
					> .mm_wrapper{
						max-height:900px;
						z-index:1;
					}
				}
			}
			
		}
	}
	.mmc_icon{
		display:none;
	}
}

.mm_view{ 
	width:100%; 
	background-color:#ffffff; 
	border:1px solid #d1d1d1;
	position:relative; 
	font-size:1em; 
	display:table;
	.mm_title{ 
		padding:0.625em 0 0 1.25em;
		line-height:1;
		position:absolute;
		top:0.5em;
		> h2{
			font-size:1.5em;
			text-transform:uppercase;
			color:#464646;
			@include regular;
			display:inline-block; 
			vertical-align:middle
		}
	}
	.title_icon{
		background-color:#353535;
		font-size:0.625em;
		border-radius:15px;
		padding: 0.6em 0.8em 0.6em 0.9em;
		color:rgba(255, 255, 255, 0.4);
		display:none; 
		float:right; 
		margin-right:1.5em; 
		margin-top:0.8em;
	}
	.mm_panel_prev {
		border-top: 1px solid #d1d1d1;
		padding: 1.25em 1.25em 1.25em 0;
		border-left: 1px solid #d1d1d1;
		display: table;
		width: 100%;
	}
	.mm_header {
		padding: 0.625em 0 0.625em 1.25em;
		line-height: 2.45;
		cursor: pointer;
		background-color: #535353;
		color: #ffffff;
		display: none;
		.title_icon {
			padding: 0.6em 0.9em 0.6em 0.8em;
			float: left;
		}
	}
	.mm_links {
		width: 100%;
		display: table;
	}
	.mm_block {
		width: 33.333333%;
		font-size: 0.75em;
		float: left;
		padding-left: 1.667em;
		.mm_link_title {
			font-size: 1.19em;
			font-family: 'regular', arail;
			padding-left: 0.3572em;
			margin-bottom: 0.8572em;
			&.locked:before{
				content:normal;
			}
		}
		a {
			display: block;
			transition: 0.3s ease;
			-webkit-transition: 0.3s ease;
			padding: 6px 5px 2px 5px;
			&:hover{
				background-color: #009966;
    			color: #ffffff;
			}
			&.locked{
				&:before{
					@include iconfont;
					content: "\e63d";
					color: #B7B7B7;
					font-size: 0.8425em;
					margin-right: 0.3572em;
				}
				&:hover{
					background-color: #ebebeb;
    				color: #252429;
				}
			}
		}
	}
	.column{
		float:left;
		&.operations{
			width:60%;
			min-width:40%;
		}
		&.requests{
			width:40%;
			.mm_block{
				width:50%;
			}
		}
		&:first-child{
			.mm_panel_prev{
				border-left:none;
			}
		}
	} // Column
	&.two{
		.column{
			&.operations{
				width:40%;
				.mm_block{
					width:50%;
				}
			}
			&.requests{
				width:60%;
				.mm_block{
					width:33.33333%;
				}
			}
		}
	}
	&.empty{
		.column{
			&.requests{
				 width:100%;
				 .mm_block{
				 	width:20%;
				 }
			}
		}
	}
}

// Shortcut buttons in mega-flyout
.shortcut_links{
	border-collapse: separate;
	border-spacing: 15px;
	padding-top: 2.5em;
	padding-left: 0.3125em;
}
.mm_view .column:nth-child(2) .shortcut_links{border-left:1px dotted #d1d1d1;}
.btn_alt{
	border-radius:2px;
	background-color:#009966;/*#75af27*/
	font-family:'regular', arial; 
	height:2.26666em; 
	color:#ffffff; 
	font-size:0.9375em; 
	cursor:pointer; 
	padding:0 0.75em;  
	display: table-cell;
	vertical-align: middle; 
	border:0; 
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color; 
	line-height:2;
	img{
		vertical-align:middle;
		width:18px;
		height:18px;
	}
	.shrt_icon{ 
		font-size:1.2em; 
		vertical-align:middle; 
		margin-right:0.25em;
	}
	.lock_icon{ 
		display:none; 
		color:#000000; 
		vertical-align:sub;
	}
	&:hover{
		background-color:#008578;
	}
	&.locked{
		background-color:#bec6d0;
		color:#242529;
		&:hover{
			background-color:#aeb8c4;
		}
		.shrt_icon{
			display:none;
		}
		.lock_icon{
			display:inline-block;
		}
	}
}

// Hub links
.hub_links{ 
	border-top:1px solid #d1d1d1;
	padding:1.25em 0 0.9375em 0;
	display:table;
	margin-top:1.25em; 
	margin-left:1.25em; 
	width:27.75em;
	li{
		width:50%;
		float:left;
		position:relative;
		&:nth-child(1){
			padding-right:0.625em;
		}
		&:nth-child(2){
			padding-left:0.625em;
		}
	}
	a{
		color:#51a1d4;
		padding-left:0.9375em;
		display:inline-block;
		position:relative;
		&:hover{
			text-decoration:underline;
		}
		&:before{
			@include iconfont;
			content:"\e62b";
			font-size:0.625em;
			position:absolute;
			left:0;
			display:inline-block;
		}
	}
	.hub_title{ 
		line-height:2.45; 
		padding:0.625em; 
		color:#ffffff; 
		background-color:#404040; 
		border-bottom:1px solid rgba(48, 48, 48, 1); 
		display:none; 
	}
}











