.header{
	position:relative;
	z-index:2;
}
.top_header{
	background-color: #3a3a3a;/*#004e90*/
	width:100%;

}
.top_header_inner{ 
	display:table;
	width:100%;
	max-width:80em;
	margin:0 auto;
	padding:0 1.875em;
}

.select_item{ display:inline-block; margin-right:0.625em;}
.select_item > li{display:inline-block;cursor:pointer;margin-left:1.625em; padding:0.688em 0;}
.select_item > li > a{ color:#ffffff; font-size:0.8125em;}
.select_item > li.active, .select_item > li:hover{ border-top: 3px solid #009966;padding-top: 0.48em;}
.select_item.lng_change > li{ margin-left:0.625em;}
.select_item > li:first-child{ margin-left:0;}

/* Search */

.header_search{display:inline-block; height:2.5em; vertical-align:top; padding:0.375em 0; background-color:#303437;}
.header_search .search_input{position:relative; width:2.1875em;-webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;-ms-transition: 0.4s ease;-o-transition: 0.4s ease;transition: 0.4s ease;}
.input_wrap{ background-color:#ffffff; margin-right:1.875em; border-radius:5px 0 0 5px; height:1.625em; padding:3px 0;}
.header_search input[type="text"]{border: 0px;box-sizing: border-box;width: 100%;background-color: transparent;color: inherit;position:relative; z-index:10;font-size:0.75em; cursor:pointer;line-height:1;height:1.6667em;}
.submitInput{background: #fff;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;color: transparent;border: none;outline: none;z-index: -1;width: 2.1875em;height: 1.875em;display: block;position: absolute;right: 0;top: 0;padding: 0;margin: 0;line-height: 1.875;text-align: center;cursor: pointer; z-index:-1;}
.magnify_icon{ z-index:90; display:block;width: 2.1875em;height: 1.625em;text-align: center;cursor:pointer; position:absolute; top:0;background-color:#303437; right:0;font-family: 'bnpiconfont';}
.magnify_icon:before{content:"\e616";color:#ffffff; top:0.375em;position:absolute;right:0.625em;}
.header_search .search_wipe{ padding:0.8em; right:3.5em;}


.search_input.focus{ width: 18em;}
.search_input.focus input[type="text"]{right: 2.307em;}
.search_input.focus .submitInput{ z-index:90;}
.search_input.focus .magnify_icon{ background-color:white; border-radius:0 5px 5px 0; z-index:1;}
.search_input.focus .magnify_icon:before{ color:#252429; padding-left:0.4375em; border-left:1px dotted #d1d1d1}
.search_input.focus .input_wrap{padding-left:2.1875em;}


@media (max-width: 1023px){
	.top_header{ height:3.75em; display:none;}
}
@media (max-width: 767px){
	.search_input.focus{ width:16em;}
}

/****************** Done *********************/



/* Nav menu */
.nav_header{ background:#ffffff;width:100%; height:3.75em; position:relative;}
.nav_header_inner{display:table;width:100%;max-width:80em;margin:0 auto;padding:0.75em 1.875em;}
.caption{float: left;padding: 0.5em 0;margin-left: 2.8em;font-size: 1.25em;}
/* Notification */
.notifications{ float:left;position:relative; margin-left:3.5em; margin-top:0.375em;transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;}
.notifications > li{ display:table-cell; border-left:1px dotted #cccccc; padding:0.125em 0.9375em;}
.notifications > li:first-child{ border:0; padding-left:0;}
.notifications > li > a > span{ display: inline-block; position:relative;}
.notification_cont > ul > li { display:none;} 
.notification_cont > ul > li.no_notification{ padding:1em; cursor:default; display:block; white-space:nowrap;}
.notifications > li.open .dropdown-menu{ display:table}
.notification_cont:after{content: "";position: fixed;top: 0;bottom: 0;left: 0;background-color: rgba(0,0,0,0.5);width: 100%;z-index: -1; display:none;}
 
.icon_notification{ font-size:1.375em;vertical-align:middle;color:#C1C1C1;margin-right:0.3125em;}
.alert .icon_notification:after{ font-family:'bnpiconfont'; content:'\e628'; color:#e53012; font-size:0.6em; position:absolute; top:-0.136em; right:0}
.notification_txt{vertical-align:middle; font-size:0.875em;margin-top: 0.2857em;}



.msg_count{height: 1.5em;width: 1.5em;border-radius: 8px;position: absolute !important;top: -4px;right: 1px;background: #e53012;color: #ffffff;font-size: 0.625em;text-align: center;font-family: 'regular', arial; vertical-align:middle; line-height:1.125;display: none;} 

@media (max-width: 1023px){
	.notifications{ margin-left:1.25em;}
}
@media (max-width: 767px){
	.nav_header_inner{ padding:0.75em 0.625em;}
	.notifications .notification_txt{ display:none;}
	.notifications > li.open .notification_cont:after{ display:block;} 
}

/* Meta info and navigation */ 
.meta_nav{border-collapse:separate;border-spacing: 20px 0;margin-right: -1.25em;}
.meta_nav > a{ display:table-cell;vertical-align:middle;}
.meta_nav > a:last-child{ }
.header-faq{ font-size:1.125em; padding:0 1.1112em; border-right:1px dotted #d1d1d1; position:relative; top:0.1112em;}
.meta_nav > a.user_seg{ display:none;}

.user_nav{ padding:0.625em 0; line-height:0;}
.lnk_custom{ font-family:'light'; font-size:0.8125em;line-height: 1;}
.meta_user{ display: inline-block; position:relative; margin-right: 2.5em;}
.meta_user .lnk_custom:after{ content:"\e64d"; font-family:'bnpiconfont'; position:absolute; margin-left:1.25em; font-size:0.6154em; top:0.375em; color:#252429;}
.meta_user.open .dropdown-menu{ display:table;}
.service_nav{ display: inline-block;}
.service_nav li{ display: table-cell; padding:0 1.3889em; border-left:1px dotted #d1d1d1; font-size:1.125em;}
.service_nav li:last-child{ padding-right:0;}

@media (max-width: 767px){
	.meta_nav{border-spacing: 15px 0; margin-right: -0.9375em;}
	.meta_nav > a.bac{ display:none;}
	.header-faq{ border-right:none; padding:0 0.5556em;}
	
}
@media (max-width: 1023px){
	.meta_user{ display:none; margin-right:0;}
	.service_nav li:nth-child(1){ border-left:none;}
}

.main_wrapper{ padding-top:3.125em;}

/* Menu */
.navigation_menu{ position:absolute; width:100%; background-color:#f7f7f7; left:0; top:3.75em; border-bottom:1px solid #d1d1d1;border-top: 3px solid #009966/*#51a1d4*/;}
.navigation_menu > ul{max-width: 80em;margin: 0 auto;padding: 0 1.875em;}
.navigation_menu > ul > li{ display:table-cell;}
.navigation_menu > ul > li > a{ display:block; padding:1em 1.25em; border-left:1px solid #d1d1d1;position:relative;}
.navigation_menu > ul > li:last-child > a{ border-right:1px solid #d1d1d1;}
.navigation_menu > ul > li.active > a{ background-color:#ffffff;}
.navigation_menu > ul > li.mm_opened > a{background-color:#ffffff;z-index:2;}
.navigation_menu > ul > li.active > a:before{content: "";border-top: 3px solid #008578/*#1d5584*/;position: absolute;top: -0.1875em;left: 0;width: 100%;}
.mmc_icon{font-size:0.625em; color:#009966; display:none; margin-right:1em;transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease; -ms-transition:all 0.5s ease;}
.mm_opened .mmc_icon{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}

.navigation_menu > ul > li > .mm_panel > .mm_wrapper{margin-top: -1px; max-height:0; overflow:hidden;-webkit-transition: max-height 0.5s ease;-moz-transition: max-height 0.5s ease;-ms-transition: max-height 0.5s ease;-o-transition: max-height 0.5s ease;transition: max-height 0.5s ease;}
.navigation_menu > ul > li.mm_opened > .mm_panel >.mm_wrapper{max-height:400px; z-index:1;} 

.mm_cover{ content:"";position:fixed; top:0; bottom:0; left:0; background-color:rgba(0,0,0,0.5); width:100%; z-index:1; display:none;}

@media (max-width: 1023px){
	.navigation_menu{ display:none;}
	.mm_offcanvas .navigation_menu{ display:block;}
}


/* Mega Menu */
.mm_panel{ width:100%;position:absolute; left:0;}
.mm_wrapper{ width:100%;position:relative; left:0;padding:0 1.875em; max-width:80em; margin:0 auto;}
.mm_view{ width:100%; background-color:#ffffff; border:1px solid #d1d1d1;position:relative; font-size:1em; display:table;}

.pimp_view{ display:none;}



.column{float:left;}
.column.operations{width:60%; min-width:40%;}
.column.requests{ width:40%;}
.column.requests .mm_block{ width:50%;}
.mm_view .column:first-child .mm_panel_prev{ border-left:none;}
.mm_view.two .column.operations{ width:40%;}
.mm_view.two .column.operations .mm_block{ width:50%;}
.mm_view.two .column.requests{ width:60%;}
.mm_view.two .column.requests .mm_block{ width:33.33333%;}
.mm_view.empty .column.requests{ width:100%;}
.mm_view.empty .column.requests .mm_block{ width:20%;}
.mm_view.empty .column.requests .hub_links{ max-width:40%;}


.shortcut_links{border-collapse: separate;border-spacing: 15px;padding-top: 2.5em;padding-left: 0.3125em;}
.mm_view .column:nth-child(2) .shortcut_links{border-left:1px dotted #d1d1d1;}
.btn_alt{border-radius:2px;background-color:#009966;/*#75af27*/ font-family:'regular', arial; height:2.26666em; color:#ffffff; font-size:0.9375em; cursor:pointer; padding:0 0.75em;  display: table-cell;vertical-align: middle; border:0; -webkit-transition-duration: 0.4s;transition-duration: 0.4s;-webkit-transition-property: color, background-color;transition-property: color, background-color; line-height:2}
.btn_alt:hover{background-color:#008578;}
.btn_alt.locked{ background-color:#bec6d0; color:#242529;}
.btn_alt.locked:hover{ background-color:#aeb8c4;}
.shrt_icon{ font-size:1.2em; vertical-align:sub; margin-right:0.25em;}
.lock_icon{ display:none; color:#000000; vertical-align:sub;}


.mm_title{ padding:0.625em 0 0 1.25em; line-height:1; position:absolute;top:0.5em;}
.mm_title > h2{ font-size:1.5em; text-transform:uppercase; color:#464646; font-family:'regular', arial; display:inline-block; 
vertical-align:middle}
.title_icon{background-color:#353535;font-size:0.625em; border-radius:15px; padding: 0.6em 0.8em 0.6em 0.9em;color:rgba(255, 255, 255, 0.4); display:none; float:right; margin-right:1.5em; margin-top:0.8em;}



.mm_panel_prev{ border-top:1px solid #d1d1d1; padding:1.25em 1.25em 1.25em 0;border-left:1px solid #d1d1d1; display:table; width:100%;}
.mm_links{ width:100%; display:table;}
.mm_block{ width:33.333333%; font-size:0.75em; float:left; padding-left:1.667em;}
.mm_block .mm_link_title{ font-size:1.19em; font-family:'regular', arail; padding-left:0.3572em;margin-bottom:0.8572em;}
.mm_block .mm_link_title.locked:before{ content:normal;}
.mm_block a{ display:block;transition: 0.3s ease; -webkit-transition: 0.3s ease; padding:6px 5px 2px 5px;}
.mm_block a:hover{ background-color:#009966; color:#ffffff;}
.mm_block a.locked:before{ font-family:'bnpiconfont'; content:"\e63d"; color:#B7B7B7; font-size: 0.8425em;margin-right:0.3572em;}
.mm_block a.locked:hover{ background-color:#ebebeb; color:#252429;}
.mm_header{padding:0.625em 0 0.625em 1.25em; line-height:2.45;cursor:pointer; background-color:#535353; color:#ffffff; display:none;}
.mm_header .title_icon{ padding:0.6em 0.9em 0.6em 0.8em; float:left;}


.hub_links{ border-top:1px solid #d1d1d1; padding:1.25em 0 0.9375em 0; display:table; width:100%; margin-top:1.25em; margin-left:1.25em;}
.hub_links a{ width:50%; float:left; position:relative; padding-left:0.9375em;color:#51a1d4; padding-right:0.8em;}
.hub_links a:before{ font-family:'bnpiconfont'; content:"\e62b"; font-size:0.625em; position:absolute; left:0;}
.hub_links a:last-child{padding-left:1.5em;}
.hub_title{ line-height:2.45; padding:0.625em; color:#ffffff; background-color:#404040; border-bottom:1px solid rgba(48, 48, 48, 1); display:none; }



  
/*  
.dropdown-menu{ background-color:#f7f7f7; top:130%; padding:0; border:1px solid #d1d1d1;}
.dropdown-menu:after{ border-color:#f7f7f7 transparent; border-style:solid; left:5px;}
.dropdown-menu:before{border-color:#d1d1d1 transparent; border-style:solid; left:4px; border-width: 0 7px 7px; top:-7px; }
.dropdown-menu > li > a{ border-bottom:1px solid #d1d1d1; padding:16px;}
.dropdown-menu > li > a:hover{ background-color:#ffffff;}
.dropdown-menu > li:last-child > a{ border-bottom:0;}*/

/* Scroll header behaviour */
.nav-up.header{ top:-2.5em; position:fixed; width:100%; opacity:1; left:0;}
.nav-up .nav_header {height: 3.125em;background-color: #f7f7f7; border-bottom:1px solid #d1d1d1;}
.nav-up .nav_header_inner{padding: 0.375em 1.875em 0 1.875em;}
.nav-up .navigation_menu {position: relative;top: -0.375em;width:auto;border: 0;float: left;}
.nav-up .mm_panel{ position:fixed; top:3.0625em; width:100%;}

.nav-up .site_logotype, .nav-up .brand_logo{ width:2.1875em; height:2.1875em;}
.nav-up .navigation_menu > ul{ padding:0 1.25em;}
.nav-up .notifications{ margin-left:0;}
.nav-up .notifications .notification_txt{ display:none;}

@media (max-width: 1023px){
	.nav-up.header{ position:relative; top:0; }
	.nav-up .nav_header{height:3.75em;}
}


/* OFF CANVAS */
.nav_small{ display:none;}
.hamburger_icon{ position:absolute; left:0; font-size:2.1875em; top:0.3429em; z-index:22; width:5.4286em; height:1em; cursor:pointer;}


@media (max-width: 1023px){
	.nav_small{ display:block;}
}
@media (max-width: 767px){
.hamburger_icon{ width:1.8572em;}
}

/* Temp code need to be configured scss */
@media (max-width: 1023px){
.site_logotype, .brand_logo{ width:162px; height:35px;}
}
@media (max-width: 767px){
.site_logotype, .brand_logo{ width:35px; height:35px;}
}



.offcanvas{ width:24.5625em; height:100%;position:fixed;background-color:#303030;}
.mm_offcanvas{ height:100%; width:100%;}

.mm_offcanvas .top_header{ display:block; position:relative; background-color:#2c2c2c}
.mm_offcanvas .nav_small{ display:none;}
.mm_offcanvas .offcanvas_logo{ display:block;margin-top:0.4375em;}
.mm_offcanvas .select_item{ display:none;}
.mm_offcanvas .top_header_inner{ padding:0.75em 0.625em; height:100%;}
.mm_offcanvas .header_search{border-radius:5px; height:2.1875em; position: relative; z-index:1; padding:0;}
.mm_offcanvas .input_wrap{ height:2.1875em; padding:0.5em 0;}
.mm_offcanvas .magnify_icon{ height:2.1875em;border-radius:3px;}
.mm_offcanvas .magnify_icon:before{ top:10px;}
.mm_offcanvas .search_input.focus{ width:23.29em;}
.mm_offcanvas .header_search .search_wipe{ padding:0.875em;}


.mm_offcanvas .site_logotype { position:fixed; top:1.1875em; left:0.625em;width:7.26em;height:1.5625em; margin-left:0;}
.mm_offcanvas .brand_logo{background:url(../css/images/sprite.svg) no-repeat;width:7.26em;height:1.5625em;display:block;background-position:-1px -39px;}



.mm_offcanvas .notifications{ display:none;}
.mm_offcanvas .nav_header{ background-color:transparent; height:100%;padding-bottom:3.75em;}
.mm_offcanvas .nav_header_inner{ padding:0; display:block;overflow-y:scroll;height:100%;/*@include clearfix*/}
.mm_offcanvas .nav_header_inner .f_left, .mm_offcanvas .nav_header_inner .f_right{ width:100%; float:none;}
.mm_offcanvas .navigation_menu{ position:relative; top:0; border:none;}
.mm_offcanvas .navigation_menu > ul{ padding:0;}
.mm_offcanvas .navigation_menu > ul >li{ display:block; width:100%;-webkit-transition: max-height 0.5s ease;-moz-transition: max-height 0.5s ease;-ms-transition: max-height 0.5s ease;-o-transition: max-height 0.5s ease;transition: max-height 0.5s ease;}
.mm_offcanvas .navigation_menu > ul > li.open:after{ content:normal;}
.mm_offcanvas .navigation_menu > ul > li > a{ background-color:#3a3a3a; color:white; font-family:'regular'; border:none; border-bottom:1px solid #303030;padding:0.625em 1.25em; line-height:2.45; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;z-index:0 !important;transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease; }
.mm_offcanvas .navigation_menu > ul > li.active > a:before{ border-top:none;}
.mm_offcanvas .navigation_menu > ul > li.mm_opened > a{ background-color:rgba(90, 90, 90, 1);}
.mm_offcanvas .mmc_icon{ display:inline-block;}

.mm_offcanvas .mm_panel{ position:relative;}
.mm_offcanvas .mm_wrapper{ padding:0; margin-top:0 !important;}
.mm_offcanvas .mm_view{ border:none;}
.mm_offcanvas .col{ width:100%;}
.mm_offcanvas .col.requests .shortcut_links{ display:none;}
.mm_offcanvas .overlay_close{ display:none;}
.mm_offcanvas .shortcut_links{ padding:0; border-left:none;}
.mm_offcanvas .shortcut_links .btn_alt{ display:block;height: auto; background-color:#4a4a4a;border-radius:0;border-bottom:1px solid #303030; position:relative;padding:0.6667em 0 0.6667em 2em;font-family: 'light'; line-height:2.6;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.mm_offcanvas .shortcut_links .btn_alt:before{ content:"";  border-left:8px solid #009966; position:absolute; left:0; height:100%; top:0; }
.mm_offcanvas .shrt_icon{  background-color: #353535;padding: 0.4em;border-radius: 20px; font-size:1em}

.mm_offcanvas .mm_title{ position:relative;top:0; background-color:#404040;padding:0.625em 0 0.625em 1.25em; line-height:2.45;  border-bottom: 1px solid #303030; border-left:8px solid #303030; cursor:pointer;}
.mm_offcanvas .mm_title > h2{ font-size:1em; color:#ffffff; text-transform:none; font-family:'light';}
.mm_offcanvas .title_icon{ display:inline-block;}




.mm_offcanvas .mm_prev_view{ position:fixed; top:0; width:24.5625em; bottom:0; background-color:#303030; left:0; z-index:1; height:100%; overflow-y:scroll;padding-bottom:3.75em;
-webkit-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.2);
-moz-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.2);
box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.2); 
-webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);}
.mm_offcanvas .mm_panel_prev{ padding:0; border:none;}

.mm_offcanvas .mm_block{ width:100% !important; padding-left:0; font-size:1em;}
.mm_offcanvas .mm_block .mm_link_title{ margin-bottom:0; background-color:#404040; font-size:1em;  border-bottom:1px solid rgba(48, 48, 48, 1);}
.mm_offcanvas .mm_header{ display:block;padding-left: 10px;}
.mm_offcanvas .mm_block a{ background-color:#353535; color:#ffffff; line-height:2.45em; padding:10px; border-bottom:1px solid rgba(48, 48, 48, 1)}
.mm_offcanvas .mm_block > ul > li > a { padding-left:1.25em;}
.mm_offcanvas .hub_links{ margin:0; padding:0; border-top:none;}
.mm_offcanvas .hub_links a{ width:100%; display:block; padding:0.6875em 0.625em 0.5em 1.5625em; line-height:1.5; background-color:#4a4a4a; border-bottom:1px solid rgba(48, 48, 48, 1); color:#ffffff;}
.mm_offcanvas .hub_links a:before{ border-left:8px solid #51a1d4; position:absolute; height:100%; top:0; content:"";}

.mm_offcanvas .mm_cover{ left:393px;/* left: 200px*/}
.mm_offcanvas .service_nav{ display:none;}
.mm_offcanvas .user_nav{ padding:0;}
.mm_offcanvas .meta_user{ display:block; margin-right:0; width:100%;}
.mm_offcanvas .lnk_primary.lnk_custom{ line-height:2.45; padding:10px 10px 10px 20px; font-size:1em; display:block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; background-color:#2c2c2c; border-bottom:1px solid rgba(48, 48, 48, 1)}
.mm_offcanvas .meta_user .lnk_custom:after{ color:#009966;top: 20px;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg); right:20px; font-size:0.625em;}
.mm_offcanvas .lnk_primary.lnk_custom:hover{ text-decoration:none;}
.mm_offcanvas .nav_faq, .mm_offcanvas .btn_seg{ display:none;}

.mm_offcanvas .open > .mm_prev_view{transform: translate3d(0%, 0, 0);}
.nav_faq:before { font-family:'bnpiconfont'; content:"\e60d"; border-right:1px dotted #d1d1d1; padding-right:20px}







.mm_slideout{ overflow:hidden;-webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;}
.mm_slideout .canvas_container{transform: translate(393px, 0);}


.canvas_container, .mm_offcanvas .nav_header{-webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;}
  
.mm_offcanvas.mm_subopened .nav_header{  transform: translate3d(-30%, 0, 0);overflow:inherit}
.mm_prev_view.mm_opened{transform: translate3d(30%, 0, 0);}
.mm_offcanvas.mm_subopened .site_logotype{ left:30%; top:-40px;}

.meta_nav{ margin-right:0;}

/*.mm_offcanvas *{ border:1px solid red;}*/










