.wcm-faq {
	left: -20.32em;
}
.widget {
 	background: unquote($white-bg);
	width: 18.75em;
	position: absolute;
	min-height:3em;
	max-height: 31.70em;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s linear 0.1s, opacity 0.1s linear;
	.accordion_main:last-child {
		border-bottom: 0;
		.list_wrapper {
			border-bottom: 0;
	    }
     }
	.faq_question {
		font-size: 1em;
		line-height: 1.4;
	}
	.accordion_l2__inner {
		border-top: none;
		padding: 0.8em 0;
	}
	.header_l2 h3 {
		width: 92%;
		display: block;
	}
	.accordion_main {
	 	border-top: 1px solid $default-border-clr;
		&:first-child {
		 	border-top: 0;
		}
	}
	.module_content {
		overflow: hidden;
		min-height: 3em;
		max-height: 27.06em;
	}
	.header_l2 {
		position: relative;
		font-size: 1em;
	 	&:after {
	 		right: 1.53em;
		}
	}
	.lnk_primary{
		color: $primary-link-clr;
		&:hover{
			color:$primary-hover-clr;
		}
	}
}
.faq-widget {
	visibility: visible;
  	opacity: 1;
  	transition-delay: 0s;
	z-index: 11;
	@include border-radius-all($glb-tleft-radius,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius);
}
.widget_header {
	position: relative;
	padding: 1.39em;
 	border-bottom: 1px solid $default-border-clr;
 	@include regular;
	font-size: 1.12em;
}
.widget_header__inner {
	padding-right: 1.6em;
	h2{
		color:#252429;
	}
}
.icon_widget_close {
	font-size: 0.75em;
	position: absolute;
	right: 1em;
	top: 1em;
	cursor: pointer;
	padding: 1em;
}


// FAQ Widget Customised for Login

.login_bg {
	 .wcm-faq {
		 right: 18.75em;
		 left: auto;
	}
	.widget {
		top: 5em !important;
		height: auto;
		box-shadow: none;
		border: none;
		position: absolute !important;
		max-height:none;
		-webkit-box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    -1px 0px 5px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         -1px 0px 5px 0px rgba(50, 50, 50, 0.2);
		.module_content{
	  		max-height:none;
	  	}
	}
	.brand_exc.wcm-faq .widget{
		top: 3.9em !important;
	}
}
//.widget_open {
	// #cookiesMessage {
		// padding: 0.94em;
		// margin-top: 0.25em;
		// .cookies_close {
			// top: 1.07em;
			// right: 1.07em;
	//	}
//	}
//}
.wcm-messages, .content_row {
 	@include transition(all, 0.3s, ease-in-out);
}


/* Static link & text Widget */

.static_link {
	padding: 1.87em;
	border-top: 1px solid #d8dbde;
}
.static_text {
	padding: 1.87em;
}

.widget {
	  position: absolute !important;
	  top: -19px !important;
	  right: 10px !important;
	  -moz-box-shadow: 0 10px 3px rgba(0, 0, 0, 60%/100%);
	  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 60%/100%);
	  box-shadow: 0 1px 3px rgba(0, 0, 0, 60%/100%);
	  border-top: 3px solid $primarycolor;
	  z-index:9999;
	}
	.faq_pointer::after {
	  position: absolute;
	  right: 5.125em;
	  top: 4.97em;
	  display: block;
	  width: 0;
	  height: 0;
	  border-bottom: 9px solid $primarycolor;
	  border-right: 9px solid transparent;
	  border-left: 9px solid transparent;
	  content: "";
	  z-index: 99999;
	  margin-left: -0.25em;
	}
	.home .sticky_widget, .sticky_widget {
      top: 5.55em !important;
      margin-top: 0;
  }
// 320 - 1023

@media all and (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
	.wcm-faq {
	  position: relative;
	}
	
	.login_bg .widget {
	  margin-top: -1.2em;
	}
	 .faq_pointer::after{
      right: 3.875em;
      top: 1.97em;
  }
  	 .home .sticky_widget, .sticky_widget {
      top: 2.53em !important;
      margin-top: 0;
  }
}

// 320 - 479

@media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	.widget {
	  right: 0 !important;
	  height: 18.79em;
	  .module_content{height:0.06em;}
	}
	.module_content{min-height:14.3em !important;}
}

// 767px breakpoint

@media all and (max-width: $screen-sm-max) {
    .home .sticky_widget, .sticky_widget {
        margin-top: 0;
    }
    .widget .header_l2:after {
        right: 0.62em;
    }
}
// 1023

@media all and (max-width: $screen-md-max) {
  .service_col {
    top: 3.75em;
  }
  .wcm-faq {
    top: 1.87em;
  } 
}

// 1279

@media all and (max-width: $screen-lg-max) {
	.wcm-faq {
		left: 0;
	}
	.login_bg {
		.wcm-faq {
			right: 0.87em;
			top: 0;
			position: absolute;
		}
		.widget {
			right: -0.87em !important;
		}
	}
}

// 1240 - 1279
@media all and (max-width: $screen-lg-min) and (max-width: $screen-lg-max){
	.widget{
		right:31px;
		margin-top:-1px;
	}
	
}
// min 1280

@media all and (min-width: $screen-xl-min) {
	.login_bg {
		.wcm-faq {
		  top: 0;
		}
	}
}

@media all and (max-width: 840px) {
	.login_bg .service_navigation{
		display:none;
	}
}