/* User Meta name */

.user_message {
	padding: 1.08em 1.08em 0 1.08em;
	font-size: 1.4em;
	display: none;
	// 768 - 1023
	@media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		padding: 1.4em 1.4em 0 1.4em;
	}
}
.home .user_message {
	display: block;
}
.meta_name {
	padding-left: 0.56em;
}



// 767px breakpoint
@media all and (max-width: $screen-sm-max) {
    #metaInfo h3 {
        font-size: 1em;
    }
    #metaInfo h1 {
        font-size: 1.75em;
    }
    .user_message {
        padding: 1em 0;
        text-align: center;
        font-size: 1em;
    }
}

