.menu_icon{ 
	z-index: 22; 
	position: absolute; 
	top: 11px; 
	left: 0;
	font-size: 1.75em;
	color: $default-clr-icon; 
	padding:6px 0; 
	width:2.60em; 
	cursor:pointer;
}
.ul-payments .indicator_icon {
	display: block;
	right: 10px;
	top: 3px;
}

.meta_nav_service .meta_icons_s:last-child {
	border: none;
	padding-right: 0;
}

.ls-row.canvas_menu{
	width: 265px;
	z-index: 1; 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	background:unquote($white-bg);
	overflow-y:scroll;
	-webkit-transform: translate3d(0,0,0); 
	height:100% !important;
}
.offcanvas_menu {
	padding:0.87em;
	-webkit-transform: translate3d(0,0,0);
	height:100% !important;
	.navigation_inner{
		padding-top:0;
	}
	ul.navigation_control { 
		padding: 0; 
		margin: 0;
		position: relative;
		padding-top: 10px;
		li{
			font-size: 1.12em; 
			position: relative;
			float:none; 
			padding:10px 0; 
			border:none;
			padding:0;
			padding-left: 10px;
			a{ 
				padding:0; 
				background-color: transparent; 
				display:block; 
				padding:0.62em 0; 
				line-height: 1.2;
				white-space: initial;
				@include light;
				border: none;
				&:last-child{
					border: none;
				}
			}
			p{
				border-bottom: 1px solid #ccc;
				padding: 5px 0 10px 0;
			}
			ul{ 
				position:relative; 
				top:0; 
				background-color:transparent;
				box-shadow: none; 
				padding:0;
				display: block !important;
				li{
				> ul{ 
						margin:0;
						box-shadow: none;
				    }
				a{ 
					@include light;
					padding-left:0.87em;
				 }	
			   }
			}	
		}
	}
	
	.item-with-li {
		@include regular;
		cursor: default;
		font-size: 1.2em;
	}
	
	ul.navigation_control li:first-child
	{
		font-family: 'regular', arial;
	}
	
	.indicator_icon{
		position:absolute; 
		top:0.62em;
		color:$indicator-clr-icon; 
		right:0; 
		display:none; 
		font-size:1.12em;
	}
	li ul li .touch-button { top:0.94em;}
}
.canvas_container {
	margin: 0;
	position: relative;
	z-index: 2;
	@include bg-color($mainbg-top,$mainbg-bottom);
	width:100%!important;
	height:100% !important;
}
.canvas_opened{
	overflow:hidden;
	.canvas_container{
		box-shadow: rgba(0, 0, 0, 20%/100%) 0px 0px 1em;
		-webkit-box-shadow: rgba(0, 0, 0, 20%/100%) 0px 0px 1em;
		-moz-box-shadow: rgba(0, 0, 0, 20%/100%) 0px 0px 1em;
	}
	.canvas_menu{
		position:fixed;
	}
}

.cover{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0);
	z-index: 600;
}

// 1023
@media all and (max-width: $screen-md-max) {	
	.canvas_opened{
		.site_header, .warning_area{
			left:265px;
		}
	}
}
