// Accordion
// ----------
.accordion {
	width: auto;
 	background: unquote($white-bg);
	@include border-radius-all(0,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius);
}
.accordion_main {
	width: $default-width;
	&:last-child {
	 	border-bottom: 1px solid $default-border-clr;
	}
}
/* MR1 changes */
.content_details{ 
    max-width: 100%;
    overflow: hidden;
}
.has_foreign_currency {
 	color: $foreign-currency-clr;
	cursor: pointer;
}
/* L1 */

.header_l1 {
 	width: $default-width;
 	border-top: 2px solid $default-border-clr;
	text-transform: uppercase;
	font-size: 1.25em;
	line-height: 1.06em;
	position: relative;
 	color: $header-link;
	h4{
		display: inline-block;
 		@include transition(all, 0.2s, ease-in-out);
	}
	&.dropdown_arrow {
		cursor: pointer;
		label{
			cursor: pointer;
		}
		 &:after {
			left: 1.45em;
			border-color: transparent transparent transparent $default-clr-icon;
			border-width: 6px 6px 6px;
		}
	}
	&.dropdown-active{
		&:after{
			border-color:$default-clr-icon transparent transparent transparent;
			margin-top: -0.15em;
			border-width: 6px 6px 0 6px;
		}
	}
}

.header_l4 {
  .dropdown_arrow:after {
    top: 7px;
    left: 1.45em;
    border-color: transparent transparent transparent $default-clr-icon;
    border-width: 6px 6px 6px;
  }
  .dropdown-active:after {
    border-color: $default-clr-icon transparent transparent transparent;
    margin-top: -0.15em;
    border-width: 6px 6px 0 6px;
  }
}
.view_more.header_l4.exp .dropdown_arrow:after {
  top: 26px;
}

.header_col {
	width: 50%;
	float: left;
}
.sub_header{
	padding-top:0.22em;
	line-height: 1.20em;
	font-size:0.87em;
}
.cards_transactions .sub_header{
	display:block;
}
.header_coltwo{
	text-align: right;
 	color: $default-color;
}
.accordion_l1__inner {
	padding: 0.9375em 1.45em 0.6875em 1.45em;
	display: table;
 	width: $default-width;
	line-height: 1;
}
.header_l1{
	&.dropdown_arrow{
		.accordion_l1__inner {
			padding-left:2.64em;
		}
	}
	&.dropdown-active{
		background: #d1d8e2;
	}
}
.accordion_main:nth-child(1) .header_l1, .first_list_item .list_wrapper_inner, .eachAccordion:nth-child(1) .header_l1, .header_l1.first_list_item  {
	border-top: none;
}
.content_l1 {
 	border-top: 1px solid $default-border-clr;
}
.bracket{ position:relative; top:-2px;}
/* L2 */

.header_l2 {
 	color: $header-link;
	font-size: 1.12em;
	position: relative;
	line-height: 1.25;
	word-break: break-word;
	cursor: pointer;
	h3 {
	 	display: inline;
	}
}
.accordion_l2__inner {
	padding: 1em 0;
 	border-top: 1px solid $default-border-clr;
}
.content_l2_list_item:first-child {
	.accordion_l2__inner {
		border: none;
	}
}
/* Common and Groups L3 */

.list_wrapper {
	padding: 0 1.87em;
	display: table;
 	width: $default-width;
}
.group_icons {
	font-size: 1.4em;
	float: left;
	color:$default-clr-icon;
}
.item_group {
	font-size: 1.12em;
 	@include regular;
	position: relative;
 	border-top: 1px solid $default-border-clr;
}
.product_groups:first-child .item_group {
	border: none;
}
.item_group__inner {
	padding: 0.84em 0 0.62em 0;
	display: table;
 	width: $default-width;
	position: relative;
}
/* Group Columns*/

.group_colone {
	float: left;
	 h4 {
		 float: left;
		 padding: 0.46em 0 0.46em 0.57em;
		 text-transform: uppercase;
		 display: inline-block;
		 white-space: nowrap;
		 min-width: 6.25em;
		 color:$optgroup-header;
	}
}
.group_coltwo {
	float: right;
	h4 {
		 padding: 0.45em 0 0.45em 0;
		 display: inline-block;
	}
}
.currency_header{
	color:$optgroup-header;
}
/* List headers for Each item in list */
.list_group{
	&:last-child{
		margin-bottom:1.25em;
	}
}
.list_group:last-child{
	margin-bottom:0;
}
.list_header {
	 border-bottom: 2px solid $default-border-clr;
	 margin:0 1.87em;
	 h2 {
	 	padding-top:1.87em;
	 	padding-bottom: 0.5em;
		@include regular;
		text-transform: uppercase;
		color:$primarycolor;
	}
}
/* List item icon */
.noclk{ 
		cursor:default !important;
		color:$default-color;
		text-decoration:none;
		&:hover{ 
			text-decoration:none;
		}
	}
.l_icon{
    .list_icon {
		left: 0.13em; 
		position: absolute; 
		top: $pos-list-icon; 
		font-size:1em;
		&.clk{ cursor:pointer}
	}
	.list_wrapper_inner{
		 padding-left:2.4em;
	}
}
.inline_icon{ 
	font-size:16px;
	margin-left:0.25em;
	&.notexecuted{ 
		color: $error-icon;
	}
	&.expire { 
		color: $expired-icon;
	}
}
.list_content_details .listiban_group .inline_icon{
	position:relative;
	top:1px;
}

/* List items */

.list_item {
 	width: $default-width;
}
.list_wrapper_inner {
	 border-top: 1px solid $default-border-clr;
	 position:relative;
}
.list_item__header {
	padding: 0.75em 0 0.56em 0;
 	width: $default-width;
	cursor: pointer;
}
.list_item__header:hover .list_header_title {
  text-decoration: underline;
  outline: none;
}

.list_item__header .list_header_title {
  outline: none;
}

/* List item header columns */

.listiban_group {
	display: table;
}
.listiban_detail {
 	color: $default-color;
	font-size: 0.87em;
	padding-top: 0.22em;
	line-height: 1.49em;
}
.list_content_col1 {
	float: left;
	 .list_header_title {
		 @include regular;
		 color: $list-link;
		 font-size: 1.1em;
		 line-height: 1;
		 text-transform: uppercase;
		 vertical-align: middle;
		 font-weight: normal;
		background: none !important;
		
	}
}
.list_item__header:hover{ 
	.list_header_title {
		text-decoration: underline;
	}
	.list_header_title.noclk{
		text-decoration:none;
	}
}
.list_content_col1 p {
 	color: $default-color;
	font-size: 1em;
	padding-top: 0.5em;
	line-height: 1em;
}
.list_content_col2 {
	float: right;
	max-width: 50%;
	text-align: right;
	h3 {
		 font-size: 1.12em;
		 line-height: 1em;
	}
	p {
		font-size: 0.87em;
	 	color: $select-color;
		padding-top: 0.57em;
		line-height: 1.07em;
	}
	span {
		padding-left: 0.28em;
	}
}
.list_content_details {
	float: left;
}

// Disabled header of accordion
//
.disabled {
 	.list_header_title, .listiban_detail {
 		color: $select-color !important;
 		cursor: default;
 		text-decoration:none;
	}
	.list_item__header:hover .list_header_title {
	 	text-decoration: none !important;
	}
}


/* List item content C3 */
.content_details {
 	width: $default-width;
 	 padding: 0.31em 0 1.25em 0;
	 p {
		 text-transform: uppercase;
		 line-height: 1.37em;
		 white-space:pre-line;
		 font-size:0.86em;
	}
}
.extra_contentdetails {
	 width: $default-width;
	 border-top: 1px solid $default-border-clr;
	 border-bottom: 1px solid $default-border-clr;
	 padding-bottom: 1.25em;
	 display:table;
	 &.details{ padding-top:15px;}
}
/* L4 */

.view_more {
	position: relative;
	margin: 1.25em 0;
	&.exp{
		border-top:1px solid $default-border-clr;
		padding-top:1.25em;
		margin-bottom:0;
		.dropdown_arrow:after {
			top:1.87em;
		}
	}
	.dropdown_arrow:after {
		 right: 0;
		 left: 0;
	}
}
.view_more_inner{
	display:inline-block;
}
.view_more p, .show_filters p {
 	@include regular;
 	color:$primary-link-clr;
	padding-left: 1.25em;
	cursor: pointer;
}
.view_more p:hover, .show_filters p:hover {
	text-decoration: underline;
}
.view_more__content p {
	padding: 1.25em 0;
 	border-bottom: 1px solid $default-border-clr;
	line-height: 1.25em;
	white-space: pre-wrap;
	&:first-child {
	   padding-top: 0;
	}
	&:last-child {
	 	border: none;
	}
}
.more_detail_wrapper{
	padding-top:1.25em;
}
.details_inner .more_detail_wrapper{
	padding-top:0em;
}
.accordion_main:last-child .header_l1.dropdown-active, .product_groups:last-child .list_group:last-child .list_wrapper_inner:last-child {
	border-bottom: none;
}
.short_account_type {
	display: none;
}
.list_icon{
	&.fontcon-transaction-in{
		color:$icon3-clr;
	}
	&.fontcon-transaction-out{
		color:$icon4-clr;
	}
}

/* Accordion customized for IA's */
.laccounts,.lcards{
	@include border-radius-all(0,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius);
	}

.laccounts .header_l1, .account_transactions .header_l1 {
 	color: $header-link;
}
.laccounts .list_content_col1, .lcards .list_content_col1 {
	width: 60%;
}
.content_l1 .booked_transactions{
	min-height:460px;
}
.eur_long_currency {
	display: inline-block;
}

// Only for PA
.personal_alias .search_wipe{	
  padding-left: 0;
  /*padding-right:25px;*/
  padding-top:2px;
  padding-bottom: 0;	
}

// 767
@media all and (max-width: $screen-sm-max) {
	.accordion_l1__inner {
		padding: 0.74em 0.7em 0.56em 1.87em !important;
	}
	
	.header_l1 {
		font-size: 1.12em;
		&.dropdown_arrow:after {
			left: 0.62em;
		}
	}
	
	.list_wrapper {
		padding: 0 0.62em;
	}
	
	.list_content_col1, .cards_transactions .header_colone, .cards_transactions .header_coltwo {
		width: 100%;
	}
	
	.list_content_col1 .list_header_title {
		 font-size: 1em;
	}

	.list_content_col2 {
		width: 100%;
		padding-top: 0.24em;
		max-width: none;
		&.exp{
			width:110%;
		}
		h3 {
			font-size: 1em;
		}
	}
	
	.list_content_details {
		width: 100%;
	}
	
	.list_header{
		margin:0 0.62em;
		h2 {
			padding: 1.25em 0 0.25em 0;
		}
	}
	.group_colone {
		width: 100%;
	}
	
	/* Products */
    .laccounts, .lcards {
        min-height: 21.75em;
    }
    .laccounts .list_content_col1, .lcards .list_content_col1 {
        width: 100%;
    }
    .long_account_type, .long_text_type {
        display: none;
    }
    .short_account_type {
        display: block;
    }
    .personal_alias .editable-buttons .editable-submit{
  		margin-left: 0px;
	}
}
.popover_highlight {
	background: $primarytxtcolor;
	color: $white-clr;
}
.personal_alias .dropdown-backdrop{
	top: auto;
}

.personal_alias .listiban_group {
  width: 100%;
}

.personal_alias .list_content_col2 p{
	padding-right:35px;
}

.personal_alias .editable-buttons .editable-submit{
  margin-left: 7px;
}
