$default-width:100%; 								// Globally used where ever 100% width is there, beware while changing value.
$default-height:100%;
$content-width:80%;
$height-half:50%; 
$width-half:50%;
$fixed-width:45.62em;								// Fixed width of the content pages
$ele-height:44px;									// Default input boxes heights

// Body color
$main-bg-clr:#eef1f5;								// Main background color for main site.

// Gradient for page background 
$mainbg-top:#d4e1ec;								// main background gradient top
$mainbg-bottom:#123456;								// main background gradient bottom

// Site primary colors
$primarycolor: #0072ad;								// Primary color for Site
$primarytxtcolor: #252429;							// Primary text color

// Header
$navheader-bg:'#ffffff';							// Header color
$navheader-unauth:'#ffffff';						// Header color unauthenticated

//Site logo
$logo-parent-height:2.5em;							// Logo parent height	
$logo-width:8.75em;									// Brand logo width
$logo-height:3em;									// Brand logo height
$logo-position:-1px 1px;							// Logo sprite positions
$logo-small-width:2.62em;							// Logo width on small screen
$logo-small-height:2.5em;							// Logo height on small screen
$logo-medium-width:2.62em;
$logo-medium-height:2.5em;


//Errors stripes
$error-clr: #e53012; 								// General color for Errors, warnings.
$indicator-clr-icon: #e53012; 						// Red color for ZoomIT or any alert icons.
$error-icon:#e53012;								// Red color for icon used for font color

// Error boxes colors
$error-clr-bg: #e53012;  							// Red color used for backgrounds inorder to change without text dependency
$warning-clr:#f66900;								// Warning component background color
$information-clr:#2f9ac8;							// Information componnet background color	

// Default white colors
$white-clr:'#ffffff'; 								// White color text unique
$white-clr-hover:'#ffffff';							// White text hover
$white-clr-primary:'#ffffff';						// Button text in white color
$white-clr-icon:'#ffffff';							// Button direction Icon in White 
$white-bg:'#ffffff';								// Used for white back grounds

// Links and dropdown
$link-indication:$primarycolor;							// Links but not links (USed in Filters)
$header-link:$primarytxtcolor;							// Accordion header text color
$list-link:$primarycolor;								// Accordion list header text color
$dropdownlnk-clr:$primarycolor;							// Dropdown values text color

//default lines color
$default-border-clr:#c6c6c6;						// Default border line color
$border: 2px solid #85b909;							// Border for FAQ in login page
$icon-faq-clr: #0080a6;								//FAQ icon color

// Buttons and links
$primary-btn-clr:$primarycolor;						// Primary button color
$primary-link-clr:$primarycolor;					// Primary link color
$primary-hover-clr:#0087c2;							// Primary button/Link hover color
$primary2-btn-clr:$primarycolor;					// Login primary btn
$primary2-btn-hover:#0087c2;						// Primary 2 color	
$secondary-btn-clr:#d0d0d0;							// Secondary button background color
$secondary-btn-hover-clr:#bdbcbc;					// Secondary button hover color

$hover:#0087c2;										// Hover green color for non links and buttons 
$hover-bg:#0087c2;									// Hover Green bg color for non links and buttons
$foreign-currency-clr:#0087c2;						// Has foriegn currency color on Products

// Module headers and cmenu
$h-services-bg:#689d23;								// Service header background color
$h-overlay-bg:#0072ad;								// Overlay header background color
$h-function-bg:#689d23;								// Functional Header background color
$accounts-clr:#0072ad;								// accounts text color
$h-accounts-bg:#004e90;								// accounts green bg
$h-cards-bg:#007bc3;								// Cards dark green header background color
$cards-clr:#0072ad;									// Cards header title color

//Gradient values
$bg-top:#252645;									// If gradient is applicable top value has to be added to parent variable of the class.
$bg-bottom:#123456;									// For gradient bottom value 

//Content menu hover
$accounts-hover-clr:#003e73;						// Accounts content menu hover colors
$cards-hover-clr:#00629c;							// Cards content menu hover colors

// Selection or disabled color
$select-color:#76767b;								// Dropdown select color

// Fonts and icons default
$default-color:$primarytxtcolor;					// Black color for text and backgrounds 
$default-color-bg:$primarytxtcolor;					// Black background color default
$default-clr-icon:$primarytxtcolor;					// Black color icons for list items / content based/ blue for Hello 
$icon2-clr:$primarytxtcolor;						// For pink type icons on hello
$icon3-clr:#d1d8e2;						// For pink color icons
$icon4-clr:#d1d8e2;						// For grey color
$search-text:$primarytxtcolor;						// Search counter text

// icon color
$result-icon-clr:#d2d8e1;							// Greyish icons/elements colors
$done-icon-clr:#85b909;								// icon done color

// UCR icon color
$m1-icon-clr:#e53012;								// M2 icon color
$m2-icon-clr:#186494;								// M2 icon color
$ok-icon-clr:#138e57;								// OK icon color

$inactive-clr:#f4f5f6;								// in active icons colors
$component-bg:#f4f5f6;								// Greyish backgoruns for Components / Modules i.e UCR

//teaser colors
$teaser-bg:#689d23;									// Sepa CT teaser background color in Margin column
$teaser-bg-hover:#537e1c;							// Teaser background hover color
$title-clr:#861a61;									// Functional header title color	
$icon-teaser-clr:#ffffff;							// Transfer teaser icon color

//
$expired-icon:#f66900;								// Exipred orange color icon used for font color 
$content_page_title:#138ee4;						// Content inner page title in color

// tabs color
$function-modtab-bg:#537e1c;						// Generic module tabs backgrounds
$accounts-modtab-bg:#003e73;						// Accounts module tab background color 
$cards-modtab-bg:#00629c;							// Cards Module tabs theme

$margin-mod-bg:#ffffff;								// Margin module light blue background or text color

$highlight-clr:#186494;								// Blue highlight color i.e UCR screen text	
$highlight-comp-bg:#f4f5f6;							// Background highlight on key selections
$active-step-color:$h-function-bg;							// active state color for SEPA steps

$header-list-bg:#e5e9ef;							// SEPA CT dropdown group header

// teaser social icons
$icon-twitter: #50a8f2;								// Twiter icon color
$icon-facebook: #4454a1;							// Facebook icon color
$icon-youtube: #e53012;								// Youtube icon color
$icon-linkedin: #0077b5;						   // Linkedin icon color

//Footer links and icons 
$link-title-clr:#ffffff;							// Footer group title colors
$foo-links-clr:#ffffff;								// Footer links color
$foo-hvr-lnks-clr:#ffffff;							// Footer links hvr color
$message-clr:#ffffff;								// Legal links text color in footer (Privacy/Disclamier...)

// Xopus - XML
$xopus-table-bg:#f4f5f6;							// Xopus table backgrounds or even/odd colors
$xopus-border:#0072ad;								// Xopus header green border
$xopus-clr:#0072ad;									// Xopus elements green color
$xopus-bg:'#ffffff';								// White background for Xopus contents	 
$xopus-ele-clr:#0072ad;								// Xopus elemeny color
$font-h1:36px;										// Xopus h1 fontsize	
$font-h2:28px;										// Xopus h2 fontsize	
$font-h3:20px;										// Xopus h3 fontsize	
$font-h4:18px;										// Xopus h4 fontsize	
$font-p:16px;										// Xopus p fontsize

// Loading image
$progress-width: 9.38em;							// Loding image width
$progress-height: 9.38em;							// Loding image height

// Favorite icon
$fav-icon-default: #aeb8c4;							// Favourite icon default color
$fav-icon-selected:#ffcc33;							// favourite icon selected 

// Hero image and shadows
$hero-bg:$primarycolor;									// Hero background
$body-shadow:#76767b;								// Body right left shadow colors on 1280
$dropdown-shadow:#d8dbde;							// Dropdown box & menu shadows
$header-shadow:$primarytxtcolor;								// Main header dropshadow

// Border - radius
$glb-tleft-radius:0;								// Global raduis for 4 sides
$glb-tright-radius:0;								// Global raduis for 4 sides
$glb-bleft-radius:0;								// Global raduis for 4 sides
$glb-bright-radius:0;								// Global raduis for 4 sides

//Steps - radius
$step-tleft:2.14em;									// Raduis for header steps
$step-tright:2.14em;								// Raduis for header steps
$step-bleft:2.14em;									// Raduis for header steps
$step-bright:2.14em;								// Raduis for header steps

// Filter dropdowns
$filter-hover:'#ffffff';							// Hover color for blue theme
$filter-hover-clr:$primarycolor;					// Hover text color
$optgroup-header:$primarytxtcolor;					// Opt header color

//Nav public links
$nav-links-clr:$primarytxtcolor;					// Nav public links text color

//focus for input boxes
$focus:$primarycolor;										// used for border color on focus of inputs or else dropdowns

//Service icon login
$login_faq_icon:$primarycolor;							// Login faq icon color

//Functions title
$function-title-fsize:1.8em;
//$function-title-Ssize:1em;

// Service icon size
$service-icon-size:2.72em;

//Help icon(Tooltip)
$help_icon:$primarycolor;

//message width
 $structureMsg-width:9.38em;

// Hello icon show hide
$hello-icon: inline-block;

// Language bar link list color
$linklist-lng:'$primarytxtcolor';


//Contact us
$tel-txt-size: 0.94em;
//list icon
$pos-list-icon:0.7em;

//save profile text position
//Line height issue need to rework
$save-prof-text-top: 0.115em;

//Datepicker
$date-active: #004e90;
$datepick_pad: 11px 0px;

//Sepa CR
$carousel-bg-top:#689d23;
$carousal-bg-bottom: #123456;
$sepacr-border-clr:#0072ad; 

//Add-product colors
$grey-border: #8f8b88;
$turquoise-font-clr:#0ad2e1;// for blue font
$turquoise-border:#0ad2e1;// for blue border

//cdu colors
$popover-background:#f7f7f7;
$popover-border:#ebebeb;
$white-border:#ffffff;
$black-background:#252429;
$border-black:#252429;
$grey-background:#d2d8e1;
$drakgrey-border:#999999;

//Fonticon-faq
$faq-font:21px;
$faq-weight:bolder;

//Pagination
$pagination_label:#999999;
$pagination_disable:#d2d8e1;

//== Media queries breakpoints
//

// Start screen
//--------------
$screen-xs:			320px !default;
$screen-xs-min:				 $screen-xs !default;

// Extra small screen / phone
// --------------------------
$screen-sm:                  480px !default;
$screen-sm-min:              $screen-sm !default;

// Small screen / tablet
// --------------------
$screen-md:                  768px !default;
$screen-md-min:              $screen-md !default;

// Medium screen / desktop
// -----------------------
$screen-lg:                  1024px !default;
$screen-lg-min:              $screen-lg !default;

// Large screen / wide desktop
// ----------------------------
$screen-xl:                  1280px !default;
$screen-xl-min:              $screen-xl !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:			 	 ($screen-sm-min - 1) !default; // 479
$screen-sm-max:              ($screen-md-min - 1) !default; // 767
$screen-md-max:              ($screen-lg-min - 1) !default; // 1023
$screen-lg-max:              ($screen-xl-min - 1) !default; // 1279


// PWS
// ----------------------------
$legal-bg:#f7f7f7;
$bx-bg:#d2d3d5;

$pm-header--border:#d1d8e2;					//prod matrix.scss
$pm-header--border1: '#c0c0c0';		   			//prod matrix.scss
$pm-col--bg:#d1d8e2;						//prod matrix.scss

//BLACK SHADES
$inverse-clr: '#000000';				    		//card slider.scss--prefooter and faq.scss
$inverse-light-clr: #4c5157;				        //prod matrix.scss
$inverse-light-bg: #4a484a;				     	   //home ind.scss
$inverse-btn-bg: #2f353b;						  //prefooter.scss
$inverse-btn-hover-bg: #202529;					 //prefooter.scss

//GREY SHADES
//Background
$pm-grey-varn1-bg: #acb3bd;			        //prod matrix.scss ; shade 1
$pm-grey-varn2-bg: #c0c4cd;					//prod matrix.scss;  shade 2
$pm-grey-varn3-bg: #e8e9eb;					//pws content containers.scss; shade 3
$btn-close-bg: #cccccc;						//pws content containers.scss
$card-header-bg: #e7e7e7;					//card slider.scss
//Border
$doc-list-border: #cbd0d3;					//pws content containers.scss. dark grey color; shade 1 darker than d8dbde
$card-time-border:  #c8c8c8;				//card slider.scss
$active-border: #cccccc;					//home ind.scss
//Text color
$block-quote-clr: #7e7c85;					//pws content containers.scss. dark grey color; SHADE 1
$doc-list-clr: #767676;						//pws content containers.scss. dark grey color; shade 2
$active-clr: #cccccc;						//home ind.scss--feature grid.scss--category nav.scss
$nav-links-clr: #94aeae;					//category nav.scss


//BORDERS
$category-nav-border: #298e4f;			//category nav.scss
$detail-inner-border: #9dda0f;			//home ind.scss
$block-border: #a5dad0;		        	//optional container.scss--pws common.scss--pws content containers.scss
$feedback-border: #667481;				//prefooter and faq.scss
$modal-faq-border: #d4d4d4;				//prefooter and faq.scss
$wrapper-content-border: #999999;		//prefooter and faq.scss
$feedback-text-border: #ededed;			//prefooter and faq.scss
$prefooter-border: #475059;				//prefooter.scss
$splash-border: #3aae87;				//splash page.scss
$splash-list-border: #018053;			//splash page.scss
$splash-bottom-border: #c9e3da;			//splash page.scss
$panel-heading-border:  #008355;		//splash page.scss
$pm-content-border: #a9aeb5;					//prod matrix.scss
$corousal-border: #e5e5e5;				//product corousal.scss--pws common.scss
$active-corousal-border: #277b46;		       //product corousal.scss.This is a little darker color then button primary.
$panel-border: #dddddd;					//bootstrap panel.scss

//BACKGROUND COLORS
$active-content-bg: #298e4f;			//product header.scss--feature grid.scss
//bx slider
$bx-slider-bg: #00935d;			   		//faq corousel.scss
$block-bg:  #95cc01;					//feature grid.scss
$bx-pager-active-bg: #595D62;					//prod matrix.scss
$panel-body-bg: #eef1f6;					//prod matrix.scss
$feature-grid-block-bg:  #5f7a09;		//feature grid.scss
$top-arrow-bg: #9dda0f;					//home ind.scss
$block-special-bg: #92bc0e;				//home ind.scss
$active-hover-bg: #595D62;				//home ind.scss
$doc-list-bg: #dee4e7;					//pws content containers.scss
$block-btn-bg: #51a1d4;					//prefooter and faq.scss
$feedback-bg: #f4f4f4;					//prefooter and faq.scss
$prefooter-container-bg: #515c65;		//prefooter.scss
$splash-bg: #d9d9d9;					//splash page.scss
$splash-list-bg: #018053;				//splash page.scss
$splash-menu-bg: #007d51;				//splash page.scss
$splash-menu-end-bg: #2f9663;			//splash page.scss
$table-even-bg: #f7f7fe;				//pws content containers.scss.	almost white
$panel-bg: #f6f6f6;			        	//bootstrap panel.scss
$active-area-bg: #277b46;				//product corousal.scss. This is a little darker color then button primary.
$icon-close-bg: #237c44;					//pws common.scss. This is a little darker color then button primary.
$modal-header-bg: #2c9654;				//pws common.scss. This is same as #009966


//TEXT COLORS

$active-content-clr: #298e4f;			//pws content containers.scss
$wrapper-clr: #909090;					//home ind.scss
$info-block-clr: #dee4e7;				//prefooter and faq.scss--prefooter.scss
$icon-plus-thin-clr: #dde2e9;			        //product corousal.scss
$link-arrow-clr: #00ab8e;				//pws content containers.scss. green




