.load_more {
 	width: $default-width;
	text-align: center;
 	border-top: 1px solid $default-border-clr;
}
.load_btn {
	padding: 1.87em 0;
	margin: auto;
}
.notavailable {
	text-align: center;
	padding: 0.94em 0;
	border-top: 1px solid $default-border-clr;
}
.zoomit .notavailable {
  text-align: left;
}
.estatements .notavailable, .transactions .notavailable, .sepadd .notavailable{
 	border-top:none;
}

.sepadd .notavailable{
	padding-left: 0.625em;
	padding-right: 0.625em;
}

#estatements {
 	background: unquote($white-bg);
	min-height: 21.5em;
}
.showall_months {
	text-align: center;
 	color:$link-indication;
	cursor: pointer;
	h3 {
		 padding: 1.87em 0;
		 border-top: 1px solid $default-border-clr;
	}
}
