.contact_us {
	 line-height: 1;
	 width: $default-width;
	 a[href^=tel] {
	 	pointer-events:auto;
	}
}
.contactus_content {
	 width: $default-width;
	 background: unquote($white-bg);
	 @include border-radius-all(0,0,$glb-bleft-radius,$glb-bright-radius);
}
.contactus_content_inner {
	padding: 1.88em;
}
.contactus_block {
	 border-bottom: 1px solid $default-border-clr;
	 display: table;
	 padding: 1.88em 0 1.13em;
	 width: $default-width;
	 position:relative;
	 &:first-child {
	 	padding-top: 0 !important;
	}
	 &:last-child {
		 border: 0;
		 padding-bottom: 0;
	}
}
.module_block {
	float: left;
	width: 70%;
}
.module_block_inner {
    width: $default-width;
	display: table;
}
.module_heading {
 	@include regular;
	font-size: 1.25em;
	width: 50%;
	float: left;
	padding: 0 0 0.6em;
}
.module_list {
	float: left;
	font-size: 1em;
	text-align: left;
	text-overflow: ellipsis;
	width: 50%;
	padding-top: 0.063em;
	 p {
		 margin: 0;
		 padding: 0 0 0.75em;
	}
}
.module_contact {
	float: right;
	font-size: 1.13em;
	width: 30%;
	text-align: right;
	 p {
		 font-size: 1.15em;
		 margin: 0;
		 padding: 0 0 0.7em;
        span, a {
	 		display: inline-block;
	    }
	}
	 .contact_date {
		padding: 0 0 0.36em;
		 span {
			 color: $select-color;
			 display: block;
			 font-size: 0.88em;
			 list-style: none outside none;
			 padding-bottom: 0.429em;
		}
		p{
			font-size: 1.1em;
			@include regular;
		}
	}
}
.single_data .module_contact p {
	padding-bottom: 0;
}
.closed_now {
	padding-top: 0.75em;
}

/* Contact us customised for Login */

.login_bg {
	.contact_us, .faq-page {
	 	width: $fixed-width;
		margin: 2.25em auto 0 auto;
	}
	.contact_us {
		.lnk_primary {
			color: $primary-link-clr;
			padding: 0;
			 &:hover {
			 	text-decoration: underline;
			 	color: $primary-hover-clr;
		 	}
	   	}
	}
}

/*Special block for FINTRO- APP*/
.contactus_block .info_text {
	font-size:.7em;
	line-height:1.4;
	padding-top:1.2em;
	width:85%;
	display:none;
}

.kn .contactus_block .info_text {
	display:block;
}


// 320 - 479

@media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	.module_contact p {
        	font-size: $tel-txt-size;
    }
}

// 767px breakpoint

@media all and (max-width: $screen-sm-max) {
    .contactus_content_inner {
        padding: 1.25em 0.62em 0.62em;
    }
    .module_heading {
        font-size: 1em;
    }
    .module_block {
        width: 60%;
    }
    .module_heading,.module_list {
        width: 100%;
    }
    .contactus_block {
        padding: 1.25em 0 0;
    }
    .module_list p {
        font-size: 0.94em;
        padding: 0 0 0.5em;
    }
    .module_contact {
	 	width: 40%;
        padding: 0.06em 0 0;
		p {
        	font-size: 0.8em;
			span {
				font-size: 1.06em;
			}
    	}
		.contact_date span {
			font-size: 0.75em;
		}
    }
}