/*with  MR1 changes */
.page_details{ 
	padding-left:1.87em;
	.list_icon{
		position:absolute;
		left:-1.5em;
		top:0.5em !important;
	}
}
.details {
	 width: $default-width;
	 background: unquote($white-bg);
	 display:table;
	 table-layout:fixed;/*Modification for long commn.*/
}
.details_inner {
	padding: 1.87em;
	display: table;
 	width:$default-width;
 	max-width: $default-width; /*Modification for long commn.*/
	word-break: break-word;  /*Modification for long commn.*/
	overflow: hidden; /*Modification for long commn.*/
	table-layout:fixed;/*Modification for long commn.*/
}
.details_title {
	padding:0.9em 0.9em 0 0.9em;
	font-size: 2em;
	line-height: 1em;
}
.detail_group {
	padding: 1.87em 0;
 	border-top: 1px solid $default-border-clr;
    max-width: $default-width; /*Modification for long commn.*/
	word-break: break-word; /*Modification for long commn.*/
	overflow: hidden; /*Modification for long commn.*/
}
.detail_group_title {
 	@include regular;
	font-size: 1.2em;
}
.details{ 
	.detail_group:nth-child(1) {
		padding: 1px 0 1.87em 0;
		border: none;
	}
	.detail_group:last-child{ 
	  	padding-bottom:0;
	 }
}
.details_label {
	width: 40%;
	float: left;
 	@include regular;
	padding-right: 1.56em;
}
.list_details {
 	width: $default-width;
	padding: 1.25em 0 0 0;
	display: table;
	position:relative;
	table-layout:fixed;/*Modification for long commn.*/
	 &:last-child {
	 	border: none;
	}
}

// Indent List details when Title has numberings.
.indent .list_details{
	padding-left:1.25em;
}
.detail_group.exp, .list_details.exp {
	padding-top: 0;
}

.confirmation_details__amount.exp{
	padding-bottom:0;
}

.listitem_details {
    float: left;
    line-height: 1.25em;
    max-width: 100%;
    overflow: hidden;
    width: 60%;
    word-wrap: break-word;
	 p {
		 max-width: 100%;
			&:nth-child(2) {
		 	/*font-size: 0.87em;*/
		}
	}
	span{
		max-width: 100%;
	}
}

.listitem_details.exp{width: 100%;}
.list_detail_header.exp{ 
	padding:1.87em 1.87em 0 1.87em;
}
.back_link { 
	display: table; 
	clear: both; 
	padding:12px 0;
	
}
.back_link .left_navigation_btn{
     cursor: pointer;
     display: table;
	 float: left;
	 width: auto !important;
}

.balance_details p {
 	width: $default-width;
}

// Detail screen with border bottom for each Item

.border_list, .border_bottom {
	padding: 1.25em 0;
 	border-bottom: 1px solid $default-border-clr;
}
.border_list:first-child, .border_bottom:first-child {
	padding-top: 0;
}
.border_list:last-child, .border_bottom:last-child {
	padding-bottom: 0;
	border: none;
}
.border_list.exp {
	padding-top: 1.25em;
}

.details_inner .more_detail_wrapper .list_details { /* this is required to maintain the spacing even inside "more_detail_wrapper" */
	padding-top: 1.25em;
}
.card_transactions  .list_content_col2 {
    width:45%;
	padding-top:0em;
  }

 .card_transactions  .list_content_details {
    width: 100%;
  }
  
  .card_transactions  .list_content_col1 {
    width: 45%;
	
  }
  .card_transactions .inner_contents {
    padding-left:30px;
	
  } 
  .card_transactions .list_item__header {
    cursor: default;
	
  }
 .delete_beneficiary .list_details:first-child{padding-top:0;}

// 767px breakpoint

@media all and (max-width: $screen-sm-max) {
	.details_title{
		font-size: 1.14em;
		padding-left: 0.5em;
	}
	
	.details_inner {
		padding: 0.62em;
	}
	
	.listitem_details {
		width: $default-width;
		padding-top: 0.75em;
	}
	
	.listitem_details span{		
		display:inline-block;	
	}

	
	/*Extra spacing removed for first page-to reveist*/
	.enterdetails .listitem_details{
	padding-top: 0;
	}
	.border_list, .border_bottom{
		padding: 0.62em 0;
	}
	.border_list.exp{
		padding-top: 0.62em;
	}
	.details_label {
		width: $default-width;
	}
	.list_detail_header.exp{ 
		padding:0.62em;
	}
	
	/*
	.details_inner .more_detail_wrapper .list_details {
	 this is required to maintain the spacing even inside "more_detail_wrapper" 
		padding-top: 0.62em;
	}
	*/

}
/* for standing order - when there is no standing order */
.details_inner.no_standingorder {
	padding-bottom: 0;
}
/* for standing order - when pdf comes */
.standing_order .back_link{
float: left;
  padding: 12px 0;
}
.standingorder .details{
	@include border-radius-all($glb-tleft-radius,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius); 
}


.zoomit {
	.extra_contentdetails {
		 border-bottom: none;
	}
	.left_navigation_btn {
		padding: 0.87em 0;
	}
	
}

/* for cards- error msg */
.noCreditOverview .details_inner{
	table-layout:auto;
}