//IE font issue

html, body{
	 font-family: 'light', arial !important;
}

html {
 	width: $default-width;
	height: auto;
	background: #eef1f5;
	overflow-x:hidden;
}
body {
	width: $default-width;
	height: 100%;
	font-size:16px;
}
.portal_wrapper {
	 width: $default-width;
	 height: $default-height;
	 font-size: 1em;
	 line-height: 1.12em;
	 color: $default-color;
	 @include light;
	 -webkit-touch-callout: none;
	 @include text-size-adjust(none);
	 position: relative;
	 overflow: auto;
	 display: table;
	 table-layout: fixed;
}

/*.no_scroll {
	overflow: hidden;
	width: $default-width;
	height:$default-height;
  body {
	overflow: hidden;
	width: $default-width;
	height:$default-height;
  }
}*/

.no_hscroll, .no_hscroll .portal_wrapper {
	overflow-x: hidden;
}

/*hack for IE9 jump in login*/
.msie .login_bg.ls-row{
	float:none;
}

/*For accountlist to view completely and prevent extra scroll*/
@media all and (max-width: 768px){
	.portal_wrapper{
		overflow: inherit;
		display: inherit;
	}
}