#metaInfo {
 	width: $default-width;
	margin: 0 auto;
 	color: unquote($white-clr);
	position: relative;
	background:$hero-bg;
	.level1 {
	 	padding-top:1.25em;
		width:44.75em; 
	 	margin:0 auto; 
		position:relative;
	}
	h3 {
		font-size: 1.56em;
		padding-bottom: 0.24em;
	}
	h1 {
		font-size: 2.88em;
		padding-bottom:20px;
	}
}

#hero_icon:before{ 
	font-size:60px; 
	position:absolute;
	content: "\e602"; 
	right:0;
	font-family: 'bnpiconfont';
}

/* Breakpoint 767 */
@media all and (max-width: $screen-sm-max) {
	#hero_icon{
		display:none;
	}
	#metaInfo{
		padding: 0 0.62em;
		.level1{
			width:auto;
		}
	}
}
