.progressing {
 	width: $default-width;
 	height: $default-height;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	text-align: center;
 	@include color-rgba(229, 233, 239, 50%/100%);
	line-height: 1;
	display: none;
}
	.progressing_inner {
	width: $progress-width;
	height: $progress-height;
	background: url(images/animgif.gif) no-repeat 50% 35%, #ffffff;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-4.69em;
	margin-top:-4.69em;
}


.progressing p {
 	@include regular;
	font-size: 1.12em;
 	color: $default-color;
	padding-top: 5.56em;
}

