/* MR2 V2 Login */
.authentication{
	margin:0 auto; 
	display:table; 
	position:relative; 
	@include light;
	width:41em;
	&.new_profile{
		margin-top:60px;
		.l_col{
			padding-bottom: 2.375em;
			&.exp{
				padding-bottom:1.25em;
			}
		}
	}
	&.known_profile{
		margin-top:30px;
	}
}

.form_wrapper_l2{
	display:inline-block;
	width:100%;
}
.form2_label {
	@include regular;
	line-height: 0.82em;
	color:#919193;
	position: relative;
	padding:0 1em 0.5em 0;
}

.l_col{
	width:50%;
	float:left;
	padding-bottom:1.25em;
	&:nth-child(odd){ 
		padding-right:0.62em;
	}
	&:nth-child(even){ 
		padding-left:0.62em;
	}
}
.select_profile .l_col:nth-child(odd) {
	float: left;
	clear: left;
}
.select_profile .l_col:nth-child(even) {
	float: right;
	clear: right;
}
.save_profile {
	display: table;
	position:relative;
	padding-right:1.56em;
}

.saved_details{
	font-size: 0.98em;
}

.profile_name{
	display:table-cell;
	vertical-align:middle;
	font-size:1.2em;
}

.new_profile .save_profile__text{
	@include regular;
}
.save_profile__text{
	@include light;
	margin: $save-prof-text-top 0 0 0;
	float: left;
	width: 100%;
}
.identification_nav{
	padding:0 0 0.62em 0.62em !important;
	float:right;
}

/* help & Tooltip */
/* remove this styles for tooltip*/

.help_icon{
	position:relative;
	top:2px; 
	cursor:help;
	margin-left:0.62em;
	&.exp{
		position:absolute;
		right:10px;
	}
}

.authentication{
	.help_icon{
		color:$help_icon; 
	}
}

.identification_ucr{ padding-top:0.75em;}

/* Known Profile */
.saved_data{position:relative;}
.saved_data__inner{
	padding:0.93em 0.72em;
	background:unquote($white-clr);
	-webkit-transition: all 300ms linear 0s;
	-moz-transition: all 300ms linear 0s;
	-ms-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
	@include border-radius-all($glb-tleft-radius,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius);
	&.hvr:hover{
		background:$primary2-btn-hover;
		color:unquote($white-clr);
		cursor:pointer;
		.user_info, .wipe_saved{
			color:unquote($white-clr);
		}
	}
}
.selected_profile_description {
	font-size: 0.94em;
}
.selected_profile_details {padding: 0.31em 0;width: 100%;display: table;}
.user_info{@include regular;font-size: 1em;color: #252429; width:100%; padding-right:20px;}
.profile_label {float: left;margin-right: 0.25em;display: inline;}

// Save inline data 

.saved_inline_data{
	padding:9px 10px;
	background:unquote($white-clr);
}

.saved_inline_details{
	width:41em;
	margin:0 auto;
	white-space: nowrap;
	li{ 
		display:inline-block; 
		padding:4px 12px; 
		border-right:1px solid #d8dbde;
		label{
			@include regular;
		}
		&:first-child{ 
			padding-left:0;
		}
		&:last-child{
			border-right:none; 
			padding-right:0;
		}
	}
}

.form2_header{
	p{
		@include regular;
		padding-bottom: 0.75em;
	}
	&.profile{
		width:100%;
		display:table;
		@include regular;
		padding-bottom: 0.75em;
		margin-bottom: 0.75em;
		border-bottom: 1px solid #d8dbde;
		.profile_name{
			display: table-cell;
			vertical-align: middle;
		}
	}
}

/*Wipe btn*/
.wipe_saved { 
	cursor: pointer; 
	line-height: 0.85em; 
	position: absolute; 
	right: 0; 
	top: 0; 
	padding: 1em; 
	font-size: 0.75em; 
	color: #f66900; 
	z-index:200;
	-webkit-transition: all 200ms linear 0s;
	-moz-transition: all 200ms linear 0s;
	-ms-transition: all 200ms linear 0s;
	transition: all 200ms linear 0s;
	@include border-radius-all(0,$glb-tright-radius,0,0);
	&:hover{
		background:#f66900; 
		color:#ffffff;
	}
} 


/* Contract selection */
.contract_choice{width:100%;display:table;}
.contract_information{ padding:20px 0;font-family: 'regular',arial;}

/* Logout */

.logout_msg{ height:300px; @include bg-color($hero-bg,$bg-bottom)}
#logoutMsg{ width:700px; margin:0 auto; padding-top:130px; color:#ffffff;}

.btn_profile{
	float: right;
	background: $primary2-btn-clr;
	color: white;
	padding: 6px 15px;
	margin: 0;
	cursor: pointer;
	@include border-radius-all($glb-tleft-radius,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius);
}
.profile_icon{ 
	color:unquote($white-clr-primary); 
	font-size:22px;
	vertical-align: middle;
}
.profile_txt{
	line-height: 1;
	font-size: 1.25em;
	font-family: 'regular', arial;
	position: relative;
	top: 2px;
}

/* Breakpoint 767 */
@media all and (max-width: $screen-sm-max) {
	.authentication{
		width:24em;
		&.new_profile{
			margin-top:1.25em;
			.l_col{
				padding-bottom: 0.94em;
			}
		}
	}
	.s_row{
		width:100%;
		padding-bottom:0.94em;
		&:nth-child(odd){ 
			padding-right:0;
		}
		&:nth-child(even){ 
			padding-left:0;
		}
	}
	
	
	/* Breakpoint 479 */
	@media all and (max-width: $screen-xs-max) {
		.authentication{
			width:100% !important;
			padding:0 0.62em;
		}
		 .saved_inline_details{
		 	width:100%;
		 }
	}	
	
	/*.tooltip_secondary{
		left: -175px;
		top: -130px;
		&:before {
			border-width: 10px 12px 0 12px;
			border-color: #252429 transparent transparent transparent;
			right: 6px;
			top: 100%;
		}
	}*/
	.identification_nav{
		padding:0.62em 0 0.62em 0 !important;
	}
	.logout_msg{
		height:150px;
  	}
  	#logoutMsg {
	    width: 100%;
	    text-align:center;
	    padding:55px 10px;
	    h1 {
	      font-size: 1.12em;
	      padding-top:4px;
	      @include regular;
	    }
  }
  .saved_inline_details{ 
  		width:365px;
		font-size: 0.85em;
		white-space: normal;
		li{ padding:2px 0; width:100%;border:none;}
  }
  
  /* Identification */
	.authentication {
		padding-top: 0.62em;
	}
    .identification__inner {
        padding: 1.25em 0;
    }
/* Intermediate */
    .intermediate_content {
        padding: 0.62em;
    }

    .intermediate_content h4 {
        font-size: 1.12em;
        padding-bottom: 0.94em;
    }
    .btn_profile{
    	padding:6px 10px;
    }
    .form2_header.profile span.profile_txt{
    	display:none;
    }
}

