button {
	border: 0;
}
.f_left {
	float: left;
}
.f_right {
	float: right;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	text-decoration: none;
 	color: $default-color;
}

::selection {
	 background: $highlight-comp-bg;
	 text-shadow: none;
	 color:$primarytxtcolor;
}
::-moz-selection {
	 background: $highlight-comp-bg;
	 text-shadow: none;
	 color:$primarytxtcolor;
}
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
input:focus, textarea:focus {
	outline: none !important;
	height: auto;
}
textarea {
	-webkit-user-modify: read-write-plaintext-only;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
a[href^=tel] {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
    color: $default-color;
}

a[type=button]{
    outline: none;
}
    
.win {
	 .footer a[href^=tel], .contact_us a[href^=tel] {
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
	}
}
* {
	 @include boxsizing(border-box);
	 &:before, &:after {
	 	@include boxsizing(border-box);
	}
}
label{ 
	@include regular;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.no_data {
line-height: 24px;
text-align: center;
padding: 20px 0;
}
