/* UCR */ 

.ucr_comp {
	 background: $component-bg;
	 width: $default-width;
}
.ucr_title {
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
}
.ucr_img {
	background: url(images/ucr_img.png) no-repeat;
	width: 5.31em;
	height: 5em;
	position: absolute;
	right: 0;
	bottom: -2px;
}
.ucr_details {
	font-size: 1em;
 	border-bottom: 1px solid $default-border-clr;
 	width: $default-width;
	display: table;
	padding: 0.62em 0;
	position: relative;
	line-height: 1.80em;
	&:last-child {
	 	border: none;
	}
}
.ucr_details__numbering {
	width: 1em;
	float: left;
 	@include regular;
}
.ucr_details__content {
	width: 94%;
	display: table;
}
.ucr_code {
	display: table;
	float: left;
	text-align: center;
 	p:nth-child(2) {
		 font-size: 0.75em;
		 line-height: 0.62em;
		 text-align: left;
		 padding-left: 1em;
		 margin-top: 0.56em;
	}
}
.ucr_contentone {
	padding: 0.5em 0;
	margin-right: 0.62em;
}
.ucr_code__input {
	width: auto !important;
 	color: $highlight-clr !important;
	padding: 0.56em 0.62em 0;
	cursor: default;
}
.ucr_action_content{
	@include regular;
}

.ucr_details_content:first-child{
	padding-right:100px;
}

.ucr_challenge__content {
	display: inline-block;
}
.challenge_part1 {
	padding: 0.4em 0 0.5em;
	margin-right: 0.62em;
}
.challenge_part2 {
	float: left;
	display: table;
	margin-right: 0.62em;
}
.challenge_part3 {
	display: inline-block;
	padding: 0.44em 0;
	float: left;
}
.ucr_signature {
	display: inline-block;
}
/*removed for input 100%*/
/*.default_input_field.ucr_signature__input {
	width: 15.62em;
}*/
.ucr_content__challenge {
 	width: $default-width;
	position: relative;
}

.ucr_details__content p.field_error_message.show_active {
	margin-top: 14px;
}

.m1_icon {
 	color: $m1-icon-clr;
	font-size: 1.6em;
	position: relative;
	margin: 0 0.31em;
	display: inline-block;
	vertical-align: middle;
 	&::after {
 		content: '';
 		font-size: 14px;
 		position: absolute;
 		left: 0.4em;
 		top: 0.4em;
 		color: unquote($white-clr-icon);
 		@include regular;
	}
}
.m2_icon {
 	color: $m2-icon-clr;
	position: relative;
	font-size: 1.6em;
	display: inline-block;
	margin: 0 0.31em;
	vertical-align: middle;
}
.ok_icon {
	font-size: 1.6em;
	position: relative;
 	color: $ok-icon-clr;
	margin-right:0em;
	display: inline-block;
	vertical-align: middle;
 	&::after {
 		content: '';
 		font-size: 0.5em;
 		position: absolute;
 		@include regular;
 		color: unquote($white-clr-icon);
 		top: 0.64em;
 		left: 0.38em;
	}
}
.last_ok {
	margin: 0;
}
.ucr_code_ok {
	float: left;
	margin: 0.33em 0.24em;
}
/* Customised UCR for other languages */ 
.de .ucr_details:nth-child(2) .ucr_action_content, .fr .ucr_details:nth-child(2) .ucr_action_content {
	width: 55%;
}
/*.de .ucr_img, .fr .ucr_img {
	top: 0;
}*/
.de .login_bg .ucr_details:nth-child(2) .ucr_action_content, .fr .login_bg .ucr_details:nth-child(2) .ucr_action_content {
 	width: $default-width;
}

// 479
@media all and (max-width: $screen-xs-max) {
  .ucr_signature {
	display: block;
	float: left;
	width: 100%;
  }

}
// 767px breakpoint
@media all and (max-width: $screen-sm-max) {
	.ucr_img {
        display: none;
    }
	.challenge_part3 {
		padding:0.25em 0 0 0;
	}
	
	.ucr_details_content:first-child{
		padding-right:0;
	}
	
    .de .ucr_details:nth-child(2) .ucr_action_content, .fr .ucr_details:nth-child(2) .ucr_action_content {
        width: 100%;
    }
    .de .login_bg .ucr_details:nth-child(2) .ucr_action_content, .fr .login_bg .ucr_details:nth-child(2) .ucr_action_content {
        width: 88%;
    }
    .selected_profile_details {
        font-size: 0.87em;
    }
    .ucr_details__content p.field_error_message.show_active {
	margin-top: 0px;
	}

}
//Accessibility 
 .screen_reader_text, .screen-reader-text { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}
