
// Pimp view

.pimp_view{ 
	padding:0.9375em 0.625em;
	width:100%;
	background-color:#404040;
	display:none;
	.fontcon-expire:before{
		z-index:10;
		color:#f66900; 
		font-size:2.75em;
		position:relative;
	}
	.pimp_icon{
		position:relative;
		display:table-cell;
		vertical-align:middle; 
		&:after{
			content:"";
			background-color:#ffffff;
			border-radius:50%;
			position:absolute;
			top:0;
			left:0;
			width:44px; 
			height:44px;
		}
	}
	.rich_text{
		display:table-cell;
		font-size:0.875em; 
		color:#ffffff; 
		vertical-align:middle;
		padding-left:0.625em;
	}
}



.offcanvas{ width:24.5625em !important; height:100%;position:fixed;background-color:#303030;}
.offcanvas > div{ height:100%;}
.mm_offcanvas{ height:100%; width:100%;}
.mm_offcanvas .caption{ display:none;}
.mm_offcanvas .site_logotype{display:none;}

.mm_offcanvas .top_header{ display:block; position:relative; background-color:#2c2c2c; height:60px;}
.mm_offcanvas .nav_small{ display:none;}
.mm_offcanvas .offcanvas_logo{ display:block;margin-top:0.4375em; position:absolute;}
.mm_offcanvas .brand_logo_s{background:url(images/sprite.svg) no-repeat;width:7.26em;height:1.5625em;display:block;background-position:-1px -39px;}
.mm_offcanvas .select_item{ display:none;}
.mm_offcanvas .top_header_inner{ padding:0.75em 0.625em; height:100%;}
.mm_offcanvas .header_search{border-radius:5px; height:2.1875em; position: relative; z-index:1; padding:0;}
.mm_offcanvas .input_wrap{ height:2.1875em; padding:0.5em 0;}
.mm_offcanvas .magnify_icon{ height:2.1875em;border-radius:3px;}
.mm_offcanvas .magnify_icon:before{ top:10px;}
.mm_offcanvas .search_input.focus{ width:23.29em;}
.mm_offcanvas .header_search .search_wipe{ padding:0.875em;}


.mm_offcanvas .notifications{ display:none;}
.mm_offcanvas .nav_header{ background-color:transparent; height:100%;padding-bottom:3.75em;}
.mm_offcanvas .nav_header_inner{ padding:0; display:block;overflow-y:auto;height:100%;/*@include clearfix*/}
.mm_offcanvas .nav_header_inner .f_left, .mm_offcanvas .nav_header_inner .f_right{ width:100%;}
.mm_offcanvas .navigation_menu{ position:relative; top:0; border:none;}
.mm_offcanvas .navigation_menu > ul{ padding:0;}
.mm_offcanvas .navigation_menu > ul >li{ display:block; width:100%;-webkit-transition: max-height 0.5s ease;-moz-transition: max-height 0.5s ease;-ms-transition: max-height 0.5s ease;-o-transition: max-height 0.5s ease;transition: max-height 0.5s ease;}
.mm_offcanvas .navigation_menu > ul > li.open:after{ content:normal;}
.mm_offcanvas .navigation_menu > ul > li > a{ background-color:#3a3a3a; color:white; font-family:'regular'; border:none; border-bottom:1px solid #303030;padding:0.625em 1.25em; line-height:2.45; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;z-index:0 !important;transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease; }
.mm_offcanvas .navigation_menu > ul > li.active > a:before{ border-top:none;}
.mm_offcanvas .navigation_menu > ul > li.mm_opened > a{ background-color:rgba(90, 90, 90, 1);    border-bottom: none;}
.nav-up .mm_offcanvas .navigation_menu{width:100%;}
.mm_offcanvas .mmc_icon{ display:inline-block;font-size:0.625em; color:#009966;margin-right:1em;transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease; -ms-transition:all 0.5s ease;}
.mm_opened .mmc_icon{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}

.mm_offcanvas .mm_panel{ position:relative;}
.mm_offcanvas .mm_panel > .mm_wrapper{ padding:0; margin-top:0 !important;}
.mm_offcanvas .navigation_menu > ul > li.mm_opened > .mm_panel >.mm_wrapper{max-height:240px; z-index:inherit;}
.mm_offcanvas .mm_view{ border:none;}
.mm_offcanvas .mm_view .mm_links{display:block}
.mm_offcanvas .column{ width:100% !important;}
.mm_offcanvas .column.requests .shortcut_links{ display:none;}
.mm_offcanvas .overlay_close{ display:none;}
.mm_offcanvas .shortcut_links{ padding:0; border-left:none;}
.mm_offcanvas .shortcut_links .btn_alt{ display:block;height: auto; background-color:#4a4a4a;border-radius:0;border-bottom:1px solid #303030; position:relative;padding:0.6667em 0 0.6667em 2em;font-family: 'light'; line-height:2.6;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.mm_offcanvas .shortcut_links .btn_alt:before{ content:"";  border-left:8px solid #009966; position:absolute; left:0; height:100%; top:0; }
.mm_offcanvas .shortcut_links .btn_alt.locked{color:#ffffff;}
.mm_offcanvas .shortcut_links .btn_alt.locked .lock_icon{background-color: #353535;padding: 7px 9px;border-radius: 20px;color:#7D7D7D;}
.mm_offcanvas .shrt_icon{  background-color: #353535;padding: 0.4em;border-radius: 20px; font-size:1em}


.mm_offcanvas .mm_title{ position:relative;top:0; background-color:#404040;padding:0.625em 0 0.625em 1.25em; line-height:2.45;  border-bottom: 1px solid #303030; border-left:8px solid #303030; cursor:pointer;}
.mm_offcanvas .mm_title > h2{ font-size:1em; color:#ffffff; text-transform:none; font-family:'light';}
.mm_offcanvas .title_icon{ display:inline-block;background-color:#353535;font-size:0.625em; border-radius:15px; padding: 0.6em 0.8em 0.6em 0.9em;color:rgba(255, 255, 255, 0.4); float:right; margin-right:1.5em; margin-top:0.8em;}




.mm_offcanvas .mm_prev_view{ position:fixed; top:0; width:24.5625em; bottom:0; background-color:#303030; left:0; z-index:1; height:100%; overflow-y:auto;padding-bottom:3.75em;
-webkit-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.2);
-moz-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.2);
box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.2); 
-webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease;
  -o-transition: -o-transform 0.6s ease;
  transition: margin 0.6s ease; margin-left:130%;}
.mm_offcanvas .mm_panel_prev{ padding:0; border:none; display:block; /*@include clearfix*/;}

.mm_offcanvas .mm_block{ width:100% !important; padding-left:0; font-size:1em;}
.mm_offcanvas .mm_block .mm_link_title{ margin-bottom:0; background-color:#404040; font-size:1em;  border-bottom:1px solid rgba(48, 48, 48, 1);}
.mm_offcanvas .mm_block .mm_link_title:hover{background-color:#404040 !important;}
.mm_offcanvas .mm_header{ display:block;padding:0.625em 0 0.625em 0.625em; line-height:2.45;cursor:pointer; background-color:#535353; color:#ffffff; }
.mm_offcanvas .mm_header .title_icon{ padding:0.6em 0.9em 0.6em 0.8em; float:left;}
.mm_offcanvas .mm_block a{ background-color:#353535; color:#ffffff; line-height:2.45em; padding:10px; border-bottom:1px solid rgba(48, 48, 48, 1);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.mm_offcanvas .mm_block a:hover{ background-color:#353535;}
.mm_offcanvas .mm_block a.locked:hover{ background-color:#353535; color:#ffffff;}
.mm_offcanvas .mm_block > ul > li > a { padding-left:1.25em;}
.mm_offcanvas .hub_links{ margin:0; padding:0; border-top:none;width:100%;}
.mm_offcanvas .hub_links li{width:100%; display:block;padding:0;}
.mm_offcanvas .hub_links a{width:100%;padding:0.6875em 0.625em 0.5em 1.5625em; line-height:1.5; background-color:#4a4a4a; border-bottom:1px solid rgba(48, 48, 48, 1); color:#ffffff;}
.mm_offcanvas .hub_links a:before{ border-left:8px solid #51a1d4; position:absolute; height:100%; top:0; content:"";}
.mm_offcanvas .hub_links a:hover{text-decoration:none;}


.mm_offcanvas .service_nav{ display:none;}
.mm_offcanvas .user_nav{ padding:0;}
.mm_offcanvas .meta_user{ display:block; margin-right:0; width:100%;}
.mm_offcanvas .lnk_primary.lnk_custom{ line-height:2.45; padding:10px 10px 10px 20px; font-size:1em; display:block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; background-color:#2c2c2c; border-bottom:1px solid rgba(48, 48, 48, 1)}
.mm_offcanvas .meta_user .lnk_custom:after{ color:#009966;top: 20px;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg); right:20px; font-size:0.625em;}
.mm_offcanvas .meta_nav{margin-right:0;}
.mm_offcanvas .lnk_primary.lnk_custom:hover{ text-decoration:none;}
.mm_offcanvas .nav_faq, .mm_offcanvas .btn_seg{ display:none;}

.mm_offcanvas .open > .mm_prev_view{margin-left:30%;}
.msie .mm_offcanvas .open > .mm_prev_view{margin-left:0%;top:60px;}
.nav_faq:before { font-family:'bnpiconfont'; content:"\e60b"; border-right:1px dotted #d1d1d1; padding-right:20px}


.mm_offcanvas{
	.user_nav{
		.dropdown-menu{ 
			position:relative;
			top:0;
			background-color: transparent;
			border:none; 
			display:block !important;
			width:100%;
			margin-top:0;
			&::before, &::after{
				border:none;
			}
			> li{
				padding:0; border-bottom:none;
				> a{
					background-color: #353535;
					padding:0.625em 0.625em 0.625em 1.25em;
					line-height: 2.45em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis; 
					color:#ffffff;
					border-bottom: 1px solid #303030;
					font-size:1.143em;
				}
			}
		}
	}
}



.mm_slideout{ overflow:hidden;-webkit-transition: -webkit-transform 0.4s ease;-ms-transition: -ms-transform 0.4s ease;transition: transform 0.4s ease;}
.mm_slideout .canvas_container{margin-left:393px;}
.mm_slideout .cover{margin-left:393px;display:block;}


.mm_offcanvas .nav_header{-webkit-transition: transform 0.4s ease;-ms-transition: transform 0.4s ease;transition: transform 0.4s ease;}

  
.mm_offcanvas.mm_subopened .nav_header{  transform: translate3d(-30%, 0, 0);overflow:inherit}
.mm_offcanvas .mm_prev_view.mm_opened{margin-left:30%;}
.msie .mm_offcanvas .mm_prev_view.mm_opened{margin-left:0%;top:60px;}


@media all and (max-width:1023px){
	.mm_slideout .cover{display:block !important;}
	.mm_slideout.nav-up .header{margin-left:393px;}
}
@media all and (min-width:1024px){
	.mm_slideout{overflow:auto;}
	.mm_slideout .canvas_container{margin-left:0 !important;}
	.mm_slideout .cover{display:none;}
	.offcanvas{display:none;}
}


@media all and (max-width:767px){
	.offcanvas, .mm_offcanvas .mm_prev_view{width:278px !important;}
	.mm_slideout .canvas_container{margin-left:278px;}
	.mm_slideout .cover{margin-left:278px;}
	.mm_slideout.nav-up .header{margin-left:278px;}
	.mm_offcanvas .navigation_menu > ul > li > a{padding: 0.625em;}
	.mm_offcanvas .search_input.focus{ width: 258px;}
}



.animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  max-height: 0;
}

@-webkit-keyframes slideDown {
    0% {
        max-height: 0;
    }
	
    100% {
        max-height: 800px;
    }
}

@keyframes slideDown {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 800px;
    }
}

.slideDown {
    overflow: hidden;
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
        transform: perspective(400px) rotateX(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
        -ms-transform: perspective(400px) rotateX(-10deg);
        transform: perspective(400px) rotateX(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        -ms-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        -ms-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;

    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
}


















